<div class="info-panel">
    <!-- <div *ngIf="mode === 'seasons'" class="column"></div> -->
    <!-- Teams -->
    <div *ngIf="mode === 'teams'" class="column">
        <div *ngIf="showTeamsPanel" class="row row-center-horizontal">
            <app-team *ngFor="let team of teamsToDisplay"
                [name]="team.name"
                [url]="team.url">
            </app-team>
        </div>
    </div>
    <!-- Drivers -->
    <div *ngIf="mode === 'drivers'" class="column">
        <div *ngIf="showDriversPanel" class="row row-center-horizontal">
            <app-driver *ngFor="let driver of driversToDisplay"
                [name]="driver.name"
                [teamColor]="driver.color"
                [url]="driver.url"
                [small]="true"
                [carNumber]="driver.number">
            </app-driver>
        </div>
    </div>
</div>
