<form *ngIf="showLoginPanel" class="column page-content-wrapper">
    <div class="column column-center-horizontal">
        <label class="auth-label">Email</label>
        <input class="grid-input" type="text" name="email" [(ngModel)]="email">
        <label class="auth-label">Password</label>
        <input class="grid-input" type="password" name="password" [(ngModel)]="password">
        <button 
            class="grid-button"
            (click)="login()"
            type="submit">
            {{loginButtonText}}
        </button>
    </div>
</form>

<div *ngIf="showEditPanel" class="column column-center-horizontal">
    <div class="column page-content-wrapper">
        <span>Edit Rules</span>
    </div>
    <button 
        class="grid-button logout-button"
        (click)="logout()"
        type="submit">
        {{logoutButtonText}}
    </button>
</div>
