<form *ngIf="showLoginPanel" class="column page-content-wrapper">
    <div class="column column-center-horizontal">
        <label class="auth-label">Email</label>
        <input class="auth-input" type="text" name="email" [(ngModel)]="email">
        <label class="auth-label">Password</label>
        <input class="auth-input" type="password" name="password" [(ngModel)]="password">
        <app-button 
            [buttonText]="'Login'"
            (click)="login()">
        </app-button>
    </div>
</form>

<div *ngIf="showEditPanel" class="column column-center-horizontal">
    <div class="column page-content-wrapper">
        <span>Edit Rules</span>
    </div>
    <app-button 
        class="logout-button" 
        [buttonText]="'Logout'"
        (click)="logout()">
    </app-button>
</div>
