$blue: #303960;
$pink: #ea9a96;
$orange: #f8b24f;
$grey: #e5e5e5;
$white: #FFFFFF;

.page-content-wrapper {
    background: $grey;
    width: fit-content;
    height: fit-content;
    border-radius: 80px;
    padding: 30px;
    justify-content: center;
    max-width: 630px;
}

.auth-label {
    font-size: 1rem;
    color: #303960;
    margin-bottom: 10px;
}

.logout-button {
    margin-top: 10px;
}

.question {
    font-size: 1.25rem;
    color: #303960;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.edit-option {
    margin: 0 10px;
    background: $blue;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1.25rem;
    color: $white;
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
    text-align: center;
    display: block;
}

.edit-option:hover {
    transform: scale(1.1);
    background: $orange;
}

.edit-mode-wrapper {
    margin-top: 10px;
}
