@import "../../../variables";

.team {
    margin: 0 15px 15px 0;
    background: $blue;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1.25rem;
    color: $white;
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.team:hover {
    transform: scale(1.1);
    background: $orange;
    text-decoration: none;
}