$blue: #303960;
$pink: #ea9a96;
$orange: #f8b24f;
$grey: #e5e5e5;
$white: #FFFFFF;

.page-content-wrapper {
    background: $grey;
    width: fit-content;
    border-radius: 80px;
    padding: 20px;
    justify-content: center;
    min-width: 560px;
}

.tab-button {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
    min-width: 115px;
    text-align: center;
    display: block;
    outline: none;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    padding: 8px 25px 8px 25px;
    width: 195px;
}

.tab-button:hover, .tab-button:focus  {
    outline: none;
    border-top: 5px solid #31395f;
    border-left: 5px solid #31395f;
    border-right: 5px solid #31395f;
}

.active-tab {
    border-top: 5px solid #31395f;
    border-left: 5px solid #31395f;
    border-right: 5px solid #31395f;
}

.tab-button-left {
    margin-right: 10px;
}

.tab-button-right {
    margin-left: 10px;
}

.name {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin-bottom: 10px;
}

.grey-cloud {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
}

.car-number {
    margin-right: 5px;
}

.team-name{
    margin-left: 5px;
}

.number-and-team {
    margin-bottom: 10px;
}

.dob {
    margin-right: 5px;
}

.personal-data {
    color: #31395f;
    margin-bottom: 10px;
    font-style: italic;
}

.property {
    background: $blue;
    font-size: 1.25rem;
    color: $white;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin: 0 5px;
    width: fit-content;
}

.property-row {
    align-items: baseline;
}

.property-row:not(:last-child) {
    margin-bottom: 10px;
}

.property-container {
    width: 50%;
}

.summary-text {
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
}

.arrow {
    text-align: center;
}

.summary-cloud {
    background: $blue;
    font-size: 1.25rem;
    color: $white;
    font-weight: bold;
    text-align: center;
    display: block;
    border-radius: 50px;
    padding: 8px 20px;
    margin: 0 5px;
    width: fit-content;
}

.arrow-right {
    height: fit-content;
    margin: 0 10px;
}

.summary-row {
    align-items: center;
}