<div class="column column-center-horizontal">
  <!-- Header Starts -->
  <div class="row header">
    <span class="title">GRID</span>
    <div class="row tabs">
      <div class="tab-holder" *ngFor="let tab of tabs">
        <span 
          class="tab"
          (mouseenter)="tabMouseEnter(tab.id)"
          (mouseleave)="tabMouseLeave(tab.id)">
          {{tab.name}}
        </span>
        <div 
          *ngIf="showPanels[tab.id]"
          class="info-panel"
          (mouseenter)="panelMouseEnter(tab.id)"
          (mouseleave)="panelMouseLeave(tab.id)">
          <div class="column">
            <span>{{tab.name}} Information</span>
            <span>{{tab.name}} Information</span>
            <span>{{tab.name}} Information</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Ends -->
</div>

<router-outlet></router-outlet>