<div class="column column-center-horizontal all-content">
  <!-- Header Starts -->
  <div class="column header column-center-horizontal">
    <div class="row tabs">
      <div class="tab-holder" *ngFor="let tab of tabs">
        <a 
          class="tab" 
          routerLinkActive="active-tab" 
          [routerLink]="[tab.url]"
          (mouseenter)="tabMouseEnter(tab.id)"
          (mouseleave)="tabMouseLeave(tab.id)">
          {{tab.name}}
        </a>
        <div 
          *ngIf="showPanels[tab.id]"
          class="info-panel"
          (mouseenter)="panelMouseEnter(tab.id)"
          (mouseleave)="panelMouseLeave(tab.id)">
          <app-cloud-panel [mode]="tab.id">
          </app-cloud-panel>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Ends -->
  <div class="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>