$blue: #303960;
$pink: #ea9a96;
$orange: #f8b24f;
$grey: #e5e5e5;
$white: #FFFFFF;

.grey-cloud {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin: 0 5px;
    width: fit-content;
}

.tab-button {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
    min-width: 115px;
    text-align: center;
    display: block;
    outline: none;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    padding: 8px 25px 8px 25px;
    width: 195px;
}

.tab-button:hover, .tab-button:focus  {
    outline: none;
    border-top: 5px solid #31395f;
    border-left: 5px solid #31395f;
    border-right: 5px solid #31395f;
}

.active-events-tab, .active-standings-tab {
    border-top: 5px solid #31395f;
    border-left: 5px solid #31395f;
    border-right: 5px solid #31395f;
}

.tab-button-left {
    margin-right: 10px;
}

.tab-button-right {
    margin-left: 10px;
}

.events-content-wrapper {
    background: $grey;
    width: fit-content;
    border-radius: 80px;
    padding: 20px;
    justify-content: center;
    min-width: 350px;
    margin-bottom: 10px;
}

.races-wrapper {
    width: 700px;
    margin-right: 10px;
    min-height: 202px;
}

.standings-cell {
    font-weight: bold;
    font-size: 1.25rem;
    color: $blue;
    text-align: center;
    margin: 0 5px;
}

.standings-cell-driver {
    min-width: 46px;
}

.standings-cell-team {
    min-width: 150px;
}

.standings-points {
    min-width: 25px;
    text-align: center;
    font-weight: normal;
}

.standings-row {
    margin-bottom: 5px;
    border-bottom: 5px solid #303960;
    border-radius: 5px;
}

.statistics-row {
    border-bottom: 1px solid #303960;
    padding: 0 15px 0px 15px;
    margin-bottom: 10px;
}

.headers-row {
    padding: 0 15px 10px 15px;
}

.events-wrapper {
    padding: 0 10px 10px 10px;
}

.statistics-wrapper {
    padding-bottom: 40px;
    min-height: 900px;
}

.standings-wrapper {
    min-height: 370px;
}

.standings-cell-header {
    background: #FFFFFF;
    padding: 8px 16px;
    border-radius: 50px;
    color: $blue;
    cursor: pointer;
    display: block;
}

.standings-cell-header-selected {
    background: $blue;
    color: #FFFFFF;
}

.standings-cell-header-name {
    background: #FFFFFF;
    padding: 8px 16px;
    border-radius: 50px;
    color: $blue;
    display: block;
}
.standings-name {
    min-width: 87px;
    text-align: center;
}

.standings-poles {
    min-width: 84px;
    text-align: center;
}

.standings-poles-season {
    min-width: 140px;
    text-align: center;
}

.standings-podiums {
    min-width: 114px;
    text-align: center;
}

.standings-podiums-season {
    min-width: 170px;
    text-align: center;
}

.standings-points {
    min-width: 92px;
    text-align: center;
}

.standings-wins {
    min-width: 80px;
    text-align: center;
}

.standings-wins-season {
    min-width: 136px;
    text-align: center;
}

.standings-titles {
    min-width: 85px;
    text-align: center;
}


.stats-cell {
    font-size: 1.25rem;
    color: $blue;
    text-align: center;
    padding-bottom: 5px;
    margin: 0 5px;
}

.section-title {
    margin-bottom: 10px;
}