<div *ngIf="showData" class="column column-center-horizontal">
    <div class="events-wrapper column column-center-horizontal">
        <!-- Events Section -->
        <span class="grey-cloud">Events Calendar</span>
        <!-- Events Buttons -->
        <div class="buttons-row row">
            <button
                [ngClass]="{'active-events-tab': eventsTabName === 'upcoming'}"
                type="button"
                (click)="toggleEventsTab()"
                class="tab-button tab-button-left">
                Upcoming
            </button>
            <button
                [ngClass]="{'active-events-tab': eventsTabName === 'past'}"
                type="button" 
                (click)="toggleEventsTab()"
                class="tab-button tab-button-right">
                Past
            </button>
        </div>
        <!-- Events -->
        <div class="events-content-wrapper">
            <!-- Upcoming Events -->
            <div *ngIf="eventsTabName === 'upcoming'" class="row row-center-horizontal">
                <app-race 
                    *ngFor="let upcomingRace of upcomingRaces"
                    [mode]="'upcoming'"
                    [date]="upcomingRace.date"
                    [name]="upcomingRace.name">
                </app-race>
            </div>
            <!-- Past Events -->
            <div *ngIf="eventsTabName === 'past'" class="row row-center-horizontal">
                <app-race 
                    *ngFor="let pastRace of pastRaces"
                    [mode]="'past'"
                    [places]="pastRace.places"
                    [date]="pastRace.date"
                    [name]="pastRace.name">
                </app-race>
            </div>
        </div>
        <!-- Standings Section -->
        <span class="grey-cloud">Standings</span>
        <!-- Standings Buttons -->
        <div class="buttons-row row">
            <button
                [ngClass]="{'active-standings-tab': standingsTabName === 'drivers'}"
                type="button"
                (click)="toggleStandingsTab()"
                class="tab-button tab-button-left">
                Drivers
            </button>
            <button
                [ngClass]="{'active-standings-tab': standingsTabName === 'teams'}"
                type="button" 
                (click)="toggleStandingsTab()"
                class="tab-button tab-button-right">
                Teams
            </button>
        </div>
        <!-- Standings -->
        <div class="events-content-wrapper">
            <!-- Drivers Standings -->
            <div *ngIf="standingsTabName === 'drivers'" class="row row-center-horizontal">
                <div class="column standings-table">
                    <div class="row standings-row" *ngFor="let driverPlace of driversStandings">
                        <span class="standings-cell standings-cell-driver">{{driverPlace.name}}</span>
                        <span class="standings-cell standings-points">{{driverPlace.points}}</span>
                    </div>
                </div>
            </div>
            <!-- Teams Standings-->
            <div *ngIf="standingsTabName === 'teams'" class="row row-center-horizontal">
                <div class="column standings-table">
                    <div class="row standings-row" *ngFor="let teamPlace of teamsStandings">
                        <span class="standings-cell standings-cell-team">{{teamPlace.team}}</span>
                        <span class="standings-cell standings-points">{{teamPlace.points}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
