@import "../../../variables";

.page-content-wrapper {
    background: $grey;
    width: fit-content;
    height: fit-content;
    border-radius: 80px;
    padding: 30px 30px 20px 30px;
    justify-content: center;
    max-width: 1000px;
    margin: 10px 20px 0 20px;
}

.question {
    font-size: 1.25rem;
    color: #303960;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.edit-label {
    color: $blue;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 106px;
}

.summary-element {
    border-bottom: 5px solid $blue;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.edit-label-summary {
    color: $blue;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 78px;
}

.info-column {
    margin-right: 20px;
}

.push-button {
    margin-bottom: 10px;
}

.small-input {
    min-width: 100px !important;
    width: 100px;
}

.summary-year {
    border-bottom: 5px solid $blue;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.add-summary-year {
    margin-bottom: 10px;
}

.cancel-button {
    margin-right: 10px;
}