@import "variables";

* {
    box-sizing: border-box;
}

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-center-horizontal {
    justify-content: center;
}

.row-center-right {
    justify-content: flex-end;
}

.row-center-left {
    justify-content: flex-start;
}

.row-center-vertical {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column-center-horizontal {
    align-items: center;
}

.column-center-vertical {
    justify-content: center;
}

/* Button */

.grid-button {
    background: $orange;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.2s all;
    cursor: pointer;
    min-width: 115px;
    text-align: center;
    display: block;
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}

.grid-button:hover,
.grid-button:focus,
.grid-button:active {
    outline: none;
}

.grid-button:hover {
    transform: scale(1.1);
    background: $blue;
}

/* Input */

.grid-input {
    padding: 5px 16px;
    border-radius: 50px;
    font-size: 1.25rem;
    color: #303960;
    font-weight: bold;
    text-align: center;
    display: block;
    border: none;
    min-width: 285px;
    margin-bottom: 10px;
}

.grid-input:hover,
.grid-input:focus,
.grid-input:active {
    outline: none;
}

.grid-input:-webkit-autofill,
.grid-input:-webkit-autofill:hover, 
.grid-input:-webkit-autofill:focus, 
.grid-input:-webkit-autofill:active  {
    -webkit-text-fill-color: #FFFFFF;
    -webkit-box-shadow: 0 0 0px 1000px $blue inset;
    box-shadow: 0 0 0px 1000px $blue inset;
    transition: background-color 5000s ease-in-out 0s;
}

.grid-input:-webkit-autofill::first-line {
    font-size: 1.25rem; 
    font-weight: bold;
}

select::-ms-expand { display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    cursor: pointer;
}