@import "../../../variables";

.page-content-wrapper {
    background: $grey;
    width: fit-content;
    height: fit-content;
    border-radius: 80px;
    padding: 30px 30px 20px 30px;
    justify-content: center;
    max-width: 630px;
}