@import "../../../variables";

.race-info-wrapper {
    background: $grey;
    width: fit-content;
    border-radius: 80px;
    padding: 20px 40px;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.icon {
    margin-right: 10px;
    height: fit-content;
}

.header {
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    text-align: center;
}

.race-name {
    margin-bottom: 10px;
}

.curcuit-and-location {
    margin-bottom: 10px;
}

.property {
    background: $blue;
    font-size: 1.25rem;
    color: $white;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin: 0 5px;
    width: fit-content;
}

.profile-text-small {
    font-size: 1rem;
    color: $blue;
    height: fit-content;
}

.date {
    margin-bottom: 10px;
}

.tab {
    background: $grey;
    font-size: 1.25rem;
    color: $blue;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    padding: 8px 25px 8px 25px;
}

.results-wrapper {
    background: $grey;
    width: fit-content;
    border-radius: 80px;
    padding: 20px 40px 20px 40px;
    justify-content: center;
    margin-right: 20px;
    min-width: 495px;
    min-height: 500px;
}

.notes-wrapper {
    background: $grey;
    width: fit-content;
    border-radius: 80px;
    padding: 30px 40px 20px 40px;
    min-width: 495px;
    align-items: flex-start;
    max-width: 600px;
}

.pole-row {
    margin-right: 10px;
}

.pole-and-lap {
    margin: 0 20px 10px 20px;
}

.result-text {
    font-weight: bold;
    font-size: 1.25rem;
    color: #303960;
    text-align: center;
    padding-bottom: 5px;
    margin-right: 10px;
}

.results-row {
    margin-bottom: 5px;
    border-bottom: 5px solid #303960;
    border-radius: 5px;
}

.results-driver {
    min-width: 180px;
}

.results-team {
    min-width: 150px;
}

.results-points {
    min-width: 30px;
}

.results-table {
    margin-bottom: 20px;
    margin-top: 10px;
}

.stage-bubble {
    background: #303960;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    display: block;
    outline: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin-right: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    min-width: 106px;
    width: fit-content;
}

.note-row {
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.note {
    color: $blue;
}

.highlighted {
    font-weight: bold;
}

.summary {
    color: $blue;
    font-weight: bold;
    text-align: center;
}

.summary-row {
    width: 100%;
}